<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66ebe0">  <td>19/11/18 09:51:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CPSanityCheck.afterMethod(org.testng.ITestResult)[pri:0, instance:Sanity.CPSanityCheck@255b53dc]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="66ebe0">  <td>19/11/18 09:51:19</td>   <td>10904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CPSanityCheck.afterMethod(org.testng.ITestResult)[pri:0, instance:Sanity.CPSanityCheck@255b53dc]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="66ebe0">  <td>19/11/18 09:51:33</td>   <td>25867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CPSanityCheck.afterMethod(org.testng.ITestResult)[pri:0, instance:Sanity.CPSanityCheck@255b53dc]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="66ebe0">  <td>19/11/18 09:51:43</td>   <td>35482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CPSanityCheck.afterMethod(org.testng.ITestResult)[pri:0, instance:Sanity.CPSanityCheck@255b53dc]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="66ebe0">  <td>19/11/18 09:51:45</td>   <td>36930</td> <td title="&lt;&lt;CPSanityCheck.afterSuite()[pri:0, instance:Sanity.CPSanityCheck@255b53dc]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="66ebe0">  <td>19/11/18 09:50:51</td>   <td>-16745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CPSanityCheck.beforeMethod(java.lang.reflect.Method)[pri:0, instance:Sanity.CPSanityCheck@255b53dc]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="66ebe0">  <td>19/11/18 09:51:08</td>   <td>654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CPSanityCheck.beforeMethod(java.lang.reflect.Method)[pri:0, instance:Sanity.CPSanityCheck@255b53dc]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="66ebe0">  <td>19/11/18 09:51:19</td>   <td>11286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CPSanityCheck.beforeMethod(java.lang.reflect.Method)[pri:0, instance:Sanity.CPSanityCheck@255b53dc]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="66ebe0">  <td>19/11/18 09:51:34</td>   <td>26250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CPSanityCheck.beforeMethod(java.lang.reflect.Method)[pri:0, instance:Sanity.CPSanityCheck@255b53dc]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="66ebe0">  <td>19/11/18 09:50:51</td>   <td>-16741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CPSanityCheck.checkBackoffice()[pri:1, instance:Sanity.CPSanityCheck@255b53dc]">checkBackoffice</td> 
  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="66ebe0">  <td>19/11/18 09:51:19</td>   <td>11287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CPSanityCheck.checkCards()[pri:3, instance:Sanity.CPSanityCheck@255b53dc]">checkCards</td> 
  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="66ebe0">  <td>19/11/18 09:51:34</td>   <td>26250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CPSanityCheck.checkMii()[pri:4, instance:Sanity.CPSanityCheck@255b53dc]">checkMii</td> 
  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="66ebe0">  <td>19/11/18 09:51:08</td>   <td>654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CPSanityCheck.checkOnboarding()[pri:2, instance:Sanity.CPSanityCheck@255b53dc]">checkOnboarding</td> 
  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="66ebe0">  <td>19/11/18 09:50:45</td>   <td>-22780</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CPSanityCheck.setUp()[pri:0, instance:Sanity.CPSanityCheck@255b53dc]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="66ebe0">  <td>19/11/18 09:51:43</td>   <td>35861</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CPSanityCheck.tearDown()[pri:0, instance:Sanity.CPSanityCheck@255b53dc]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@558922244</td>   <td></td> </tr>
</table>
